* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    color: #0b0d2c;
    background: #ffffff;
}

/* NAVBAR */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 22px;
}

nav a {
    margin-left: 25px;
    text-decoration: none;
    color: #0b0d2c;
}

nav a:hover {
    color: #e63946;
}

/* HERO */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px;
    min-height: 90vh;
}

.hero-text {
    max-width: 55%;
}

.hero-text h1 {
    font-size: 48px;
}

.hero-text span {
    color: #e63946;
}

.hero-text h2 {
    margin: 10px 0;
    font-weight: 500;
}

.hero-text p {
    margin: 20px 0;
    color: #555;
}

.buttons .btn {
    padding: 14px 26px;
    margin-right: 15px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
}

.primary {
    background: #e63946;
    color: white;
}

.secondary {
    color: #0b0d2c;
}

/* IMAGE */
.hero-image img {
    width: 380px;
    border-radius: 12px;
}

/* SECTIONS */
.section {
    padding: 60px 80px;
}

.section h3 {
    font-size: 28px;
    margin-bottom: 20px;
}

.project-card {
    margin-bottom: 25px;
    padding: 20px;
    border-left: 4px solid #e63946;
    background: #f9f9f9;
}

.project-card span {
    font-size: 14px;
    color: #666;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .hero {
        flex-direction: column-reverse;
        text-align: center;
    }

    .hero-text {
        max-width: 100%;
    }

    header {
        padding: 20px 40px;
    }
}
